html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    margin-bottom: 25px;

}

.top{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top .img{
    object-fit: cover;
    width: 30%;
    padding-top: 30%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top img{
    object-fit: cover;
    top: 0px;
    bottom: 0px;
    position: absolute;
}

.info{
    padding-top: 25px;
}

.info h2{
    font-size: 35px;
    margin: 0px 0px 8px 0px;
    letter-spacing: 4px;
}

.info h3{
    font-size: 30px;
    margin: 0px 0px 8px 0px;
    letter-spacing: 3px;
}

.info p{
    font-size: 24px;
    color: gray;
    margin: 2px 0px;
    font-weight: 40px;
}

#fav{
    margin-top: 10px;
    border-radius: 100vh;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.add{
    background-color: rgb(82, 224, 77);
}

.remove{
    background-color: rgb(224, 77, 77);
}

.info a{
    font-size: 24px;
    margin: 2px 0px;
    font-weight: lighter;
}

.tags{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag{
    margin: 10px 10px 0px 0px;
    padding: 8px 10px;
    background-color: rgb(77, 128, 224);
    color: white;
    border-radius: 100vh;
}

.ingredient-container{
    overflow: hidden;
    margin: 0px 10% 0px 10%;
}
.ingredients{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.ingredients::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.ingredients::-webkit-scrollbar-thumb {
    opacity:0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(181, 181, 181, 0.5);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.ingredient{
    width: 30%;
    margin: 0px 20px 15px 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredient .img-container{
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 40vh;
}
.img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.ingredient-details{
    padding-left: 8px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: left;
    text-align: left;
}

.ingredient h6{
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 2px 0px 0px 0px;
    font-size: 20px;
}

.ingredient p{
    margin: 0px;
    padding: 4px 0px 8px 0px;
    font-size: 14px;
    color: gray;
}

.instructions{
    width: 80%;
    margin: 100px auto;
}

.list{
    font-size: 24px;
    color: grey;
    font-weight: 300;
}
